/* Start Global Rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --main-color: #f279b2;
  --second-color: #d93690;
  --third-color: #bf1792;
  --background-color: #7c58ff;
  --alt-color: #f22e2e;
  --color-hover: #52428c08;
  --main-transition: 0.3s;
  --main-padding: 100px;
  --main-radius: 8px;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
}

/* Reset */
ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* End Global Rules */
/* Start Components */
/* Start Main Title */
.main-title {
  margin: 100px auto;
  width: fit-content;
  border: 2px solid black;
  padding: 10px 20px;
  position: relative;
  z-index: 1;
  transition: var(--main-transition);
  text-transform: uppercase;
}

.main-title:hover {
  color: white;
  border: 1px solid white;
}

.main-title::before,
.main-title::after {
  content: "";
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: var(--second-color);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.main-title::before {
  left: -30px;
}

.main-title::after {
  right: -30px;
}

.main-title:hover::before {
  z-index: -1;
  animation: left-move var(--main-transition) linear forwards;
}

.main-title:hover::after {
  z-index: -1;
  animation: right-move var(--main-transition) linear forwards;
}

/* Animation */
@keyframes left-move {
  50% {
    left: 0;
  }

  100% {
    left: 0;
    border-radius: 0;
    width: 51%;
    height: 90%;
  }
}

@keyframes right-move {
  50% {
    right: 0;
  }

  100% {
    right: 0;
    border-radius: 0;
    width: 51%;
    height: 90%;
  }
}
/* End Main Title */
/* Start Selection */
::selection {
  color: white;
  background: var(--main-color);
}
/* End Selection */
/* End Components */
/* Start Responsive */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/* End Responsive */

/* Start Header */
.header {
  background-color: white;
  position: relative;
  -webkit-box-shadow: 0 0 10px #ddd;
  -moz-box-shadow: 0 0 10px #ddd;
  box-shadow: 0 0 10px #ddd;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
}

.header .logo {
  height: 70px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

@media (max-width: 767px) {
  .header {
    box-shadow: none;
  }

  .header .container .logo {
    width: 100%;
    margin: 5px;
  }

  .header .container .logo a img {
    width: 60px;
  }
}

.header .main-nav {
  display: flex;
}

@media (max-width: 767px) {
  .header .main-nav {
    margin: auto;
  }
}

.header .main-nav > li:hover .mega-menu {
  opacity: 1;
  z-index: 100;
  top: calc(100% + 1px);
}

.header .main-nav > li > a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 72px;
  position: relative;
  color: black;
  padding: 0 30px;
  overflow: hidden;
  font-size: 18px;
  transition: var(--main-transition);
}

@media (max-width: 767px) {
  .header .main-nav > li > a {
    padding: 10px;
    font-size: 14px;
    height: 40px;
  }
}

.header .main-nav > li > a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: var(--main-color);
  top: 0;
  left: -100%;
  transition: var(--main-transition);
}

.header .main-nav > li > a:hover {
  color: var(--main-color);
  background-color: #fafafa;
}

.header .main-nav > li > a:hover::before {
  left: 0;
}

.header .mega-menu {
  position: absolute;
  width: 100%;
  left: 0;
  padding: 30px;
  background-color: white;
  border-bottom: 3px solid var(--main-color);
  z-index: -1;
  display: flex;
  gap: 40px;
  top: calc(100% + 50px);
  opacity: 0;
  transition: top var(--main-transition), opacity var(--main-transition);
}

@media (max-width: 767px) {
  .header .mega-menu {
    flex-direction: column;
    gap: 0;
    padding: 5px;
  }
}

.header .mega-menu .image img {
  max-width: 100%;
}

@media (max-width: 991px) {
  .header .mega-menu .image {
    display: none;
  }
}

.header .mega-menu .links {
  min-width: 250px;
  flex: 1;
}

.header .mega-menu .links li {
  position: relative;
}

.header .mega-menu .links li:not(:last-child) {
  border-bottom: 1px solid #e9e6e6;
}

@media (max-width: 767px) {
  .header .mega-menu .links:first-of-type li:last-child {
    border-bottom: 1px solid #e9e6e6;
  }
}

.header .mega-menu .links li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 100%;
  background-color: #fafafa;
  z-index: -1;
  transition: var(--main-transition);
}

.header .mega-menu .links li:hover::before {
  width: 100%;
}

.header .mega-menu .links li a {
  color: var(--main-color);
  padding: 15px;
  display: block;
  font-size: 18px;
  font-weight: bold;
}

.header .mega-menu .links li a i {
  margin-right: 10px;
}

/* End Header */
/* Start Landing */
.landing {
  position: relative;
}

.landing::before {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: #f6f6f6;
  z-index: -1;
  transform: skewy(-6deg);
  transform-origin: top left;
}

.landing .container {
  display: flex;
  align-items: center;
  min-height: calc(100vh - 70px);
}

.landing .container .text {
  flex: 1;
}

.landing .container .text h2,
.landing .container .text p {
  text-transform: capitalize;
}

.landing .container .text h2 {
  font-size: 50px;
  padding: 15px;
}

.landing .container .text p {
  line-height: 1.8;
  padding: 15px;
  color: #999;
}

.landing .container .img img {
  position: relative;
  animation: up-and-down 4s linear infinite;
}

.landing .go-down {
  color: var(--main-color);
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  transition: var(--main-transition);
}

.landing .go-down:hover {
  color: var(--second-color);
}

.landing .go-down i {
  animation: bouncing 1s infinite;
}

/* Media */
@media (max-width: 767px) {
  .landing .container .text {
    text-align: center;
  }

  .landing .container .img img {
    display: none;
  }
}

/* Animation */
@keyframes up-and-down {
  0%,
  100% {
    top: 0;
  }

  50% {
    top: -50px;
  }
}

@keyframes bouncing {
  0%,
  10%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }

  40%,
  60% {
    transform: translateY(-15px);
  }
}

/* End Landing */
/* Start Articles */
.articles {
  padding: var(--main-padding) 0;
  background-color: white;
}

.articles .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 40px;
}

.articles .container .box {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: var(--main-radius);
  overflow: hidden;
  transition: transform var(--main-transition), box-shadow;
}

.articles .container .box:hover {
  transform: translateY(-10px);
  box-shadow: rgba(100, 100, 111, 0.3) 0px 7px 29px 0px;
}

.articles .container .box img {
  width: 100%;
  max-width: 100%;
}

.articles .container .box .content {
  padding: 20px;
}

.articles .container .box .content h3 {
  padding-bottom: 10px;
  font-weight: normal;
}

.articles .container .box .content p {
  line-height: 1.8;
  color: #999;
}

.articles .container .box .info {
  padding: 20px;
  border-top: 1px solid #c2c2c2;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.articles .container .box .info a {
  color: var(--main-color);
  font-weight: bold;
}

.articles .container .box .info i {
  color: var(--main-color);
  cursor: pointer;
}

.articles .container .box:hover .info i {
  animation: moving-arrow 1s linear infinite;
  color: var(--second-color);
}

/* Animation */
@keyframes moving-arrow {
  0% {
    transform: translateX(-10px);
  }

  100% {
    transform: translateX(10px);
  }
}

/* End Articles */
/* Start Gallery */
.gallery {
  padding: var(--main-padding) 0;
  background-color: white;
}

.gallery .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}

.gallery .box {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  padding: 15px;
}

.gallery .box .image {
  position: relative;
  overflow: hidden;
}

.gallery .box .image::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.132);
  width: 0;
  height: 0;
  z-index: 2;
}

.gallery .box .image:hover::before {
  animation: flashing 0.8s;
}

.gallery .box .image img {
  width: 100%;
  max-width: 100%;
  transition: var(--main-transition);
}

.gallery .box .image:hover img {
  transform: rotate(5deg) scale(1.1);
}

/* Animation */
@keyframes flashing {
  0%,
  40% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    width: 200%;
    height: 200%;
  }
}

/* End Gallery */
/* Start Feature */
.features {
  padding: var(--main-padding) 0;
  position: relative;
  background-color: white;
}

.features .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}

.features .container .box {
  text-align: center;
}
.features .container .box {
  box-shadow: rgba(14, 63, 126, 0.06) 0px 0px 0px 1px,
    rgba(42, 51, 70, 0.03) 0px 1px 1px -0.5px,
    rgba(42, 51, 70, 0.04) 0px 2px 2px -1px,
    rgba(42, 51, 70, 0.04) 0px 3px 3px -1.5px,
    rgba(42, 51, 70, 0.03) 0px 5px 5px -2.5px,
    rgba(42, 51, 70, 0.03) 0px 10px 10px -5px,
    rgba(42, 51, 70, 0.03) 0px 24px 24px -8px;
  border-radius: var(--main-radius);
  overflow: hidden;
  transition: transform var(--main-transition), box-shadow;
}

.features .container .box:hover {
  transform: translateY(-10px);
  box-shadow: rgba(100, 100, 111, 0.3) 0px 7px 29px 0px;
}

.features .container .box .img-holder {
  position: relative;
}

.features .container .box .img-holder img {
  width: 100%;
  max-width: 100%;
}

.features .container .box .text {
  position: relative;
  padding: 10px;
  border-style: solid;
  border-width: 0 8px 6px 2px;
  border-color: transparent var(--main-color) var(--main-color)
    var(--main-color);
  padding-bottom: 40px;
}

.features .container .box .text h2 {
  font-weight: normal;
  font-size: 40px;
  color: var(--second-color);
  padding: 10px;
}

.features .container .box .text p {
  line-height: 2;
  color: #999;
  font-size: 20px;
  padding: 20px;
}

.features .container .box .text a {
  padding: 5px 30px;
  font-weight: bold;
  font-size: 23px;
  color: var(--main-color);
  border: 2px solid;
  margin-bottom: 20px;
  transition: var(--main-transition);
}
.features .container .box .text a:hover {
  color: var(--second-color);
  box-shadow: rgba(240, 46, 170, 0.4) 0px 5px, rgba(240, 46, 170, 0.3) 0px 10px,
    rgba(240, 46, 170, 0.2) 0px 15px, rgba(240, 46, 170, 0.1) 0px 20px,
    rgba(240, 46, 170, 0.05) 0px 25px;
  border: none;
}
/* Start Media */
@media (max-width: 767px) {
  .features .container .box .text {
    border: none;
  }
}
/* End Media */
/* End Feature */
/* Start Testimonials */
.testimonials {
  padding: var(--main-padding) 0;
  position: relative;
}
.testimonials .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
  background-color: var(--second-color);
  padding: 30px;
  border-radius: var(--main-radius);
}
.testimonials .container .box {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 15px;
  padding: 20px;
  position: relative;
  border-radius: var(--main-radius);
  background-color: white;
}
.testimonials .container .box img {
  width: 80px;
  position: absolute;
  right: 0px;
  top: -50px;
  border-radius: 50%;
  border: 7px solid var(--second-color);
}
.testimonials .container .box h3 {
  padding-bottom: 10px;
  color: var(--main-color);
  font-weight: normal;
  font-size: 24px;
}
.testimonials .container .box span {
  color: #555;
  padding-bottom: 10px;
  display: block;
}
.testimonials .container .box .rate {
  padding-bottom: 30px;
}
.testimonials .container .box .rate .filled {
  color: gold;
}
.testimonials .container .box p {
  color: #777;
  line-height: 1.8;
}
/* End Testimonials */

/* Start Team Members */
.team {
  padding: var(--main-padding) 0;
  position: relative;
}
.team .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 100px 90px;
  border-radius: var(--main-radius);
  margin: 0 auto;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.team .container .box {
  position: relative;
  margin-left: auto;
  margin-right: auto;
}
.team .container .box::before {
  content: "";
  width: calc(100% - 30px);
  height: calc(100% + 60px);
  background-color: rgb(243, 243, 243);
  position: absolute;
  z-index: -2;
  right: -40px;
  top: -50px;
  border-radius: var(--main-radius);
}
.team .container .box .shape {
  display: flex;
}
.team .container .box .shape img {
  max-width: 100%;
  border-radius: var(--main-radius);
}
.team .container .box .shape .social {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
}
.team .container .box .shape .social a {
  display: block;
  padding-right: 20px;
  padding-bottom: 30px;
}
.team .container .box .shape .social a i {
  color: var(--main-color);
}
.team .container .box .shape .social a i:hover {
  color: var(--second-color);
}
.team .container .info {
  margin-left: 90px;
  margin-top: 20px;
}
.team .container .info h3 {
  padding-bottom: 5px;
  color: var(--main-color);
}
.team .container .info p {
  padding-bottom: 10px;
  color: #777;
}
/* Start Media */
@media (max-width: 767px) {
  .team .container {
    margin-right: 10%;
  }
}
/* End Media */
/* End Team Members */
